extends base 


block content 

	main.homePage__main.container
	
		
		section.homePage-productList
			.productList--heading-box
				h2.homePage--sub-heading.mrgbtm--lg  All Barongs
			.productList_filter-sort--box 		
				
				//- Sort
				
				.productList_sort-box
				
					form#form-product-sort.product-sort-form(action="/product-list" method="GET") 
						.product-sort--row
							label(for="productSort") Sort:
							select#productSort(name="productSort") 
								option(value="newest" selected=selectedOption === 'newest') Newest 
								option(value="lowest" selected=selectedOption === 'lowest') Lowest Price 
								option(value="highest" selected=selectedOption === 'highest') Highest Price 
								option(value="alphabet" selected=selectedOption === 'alphabet') A-Z			
						
						.product-sort--row--box
							.product-sort--row
								label(for="productSize") Select Size:
								select#productSize(name="productSize") 
									option(value="") All Sizes 
									each size in sizeList 
										option(value=size selected=selectedSize === size)=size							
							button(type='submit') Submit				
				
			
			.barongList 		
			
				each product in productlist
					.productList__product 	
						a(href=`/barong/${product.slug}` class='productList__page--link') 
							- const category = 	product.category ? product.category.name : "";
							.productList-box--img 
								
								img(src=`/img/product_imgs/${product.imageCover}`, alt='image',width="800",height="450", class='productListPage__img' fetchpriority="high")
							.productList-box
								.productList-box--heading
									h4 #{product.name}
								.productList__group--box.muted-text
									if product.discountPrice && product.discountPrice < product.originalPrice
										p.price--old $#{product.originalPrice}
										p.price--new $#{product.discountPrice}
									else 
										p.price--single $#{product.originalPrice}
				

					
		
				
			