
extends base


include ../mixins/_ratingStars 

block content 


	main.container
		
		.productPage 
		
			.productPage-box
			
				.productPage-box--left
				
					.productPage-box--left-left
					
						each image in product.imageUrls
								img(src=`/img/product_imgs/${image}`, alt=`${product.name}`,  class='productPage-box--img' , width='800' , height='800')
		
					
					.productPage-box--left-right
						img(src=`/img/product_imgs/${product.imageCover}`, alt=`${product.name}`, class='productPage-box--img'  width='800' , height='800')
				
				
				.productPage-box--right
					.productPage__product--heading-box
						.productPage-heading-flex
							h4.productPage__product-name #{product.name}
							if user
								.productPage-wishlist--box
									button#add-to-wishlist.productPage__wishlist--btn(data-product-id=`${product.id}`,data-user=user.id , data-product-slug=`${product.slug}`) 
										i.productPage__product--star(data-lucide='star')
						p.productPage_sku Product No. #{product.productSku}
					
					.productPage__price--box 
						if product.discountPrice && product.discountPrice < product.originalPrice
							.productPage__price--box-flex
								p.price--old.productPage__price--old $#{product.originalPrice}
								p.price--new $#{product.discountPrice}
						else
							.productPage__price--box-flex 
								p.productPage__price--current $#{product.originalPrice}

					.productPage__product-details 
						h4.productPage__product-details-heading Details
					.productPage__text-price--box
					
						.productPage__product--text-box
							.productPage__product-description
								p.productPage__product--p #{product.description}
							.productPage__product-style
								p.productPage__product--p Collection: #{product.sex}
								p.productPage__product--p Color: #{product.color}
						
					
					////-------- Variants -------// 
					
			
					
					.productPage__variant-size
						.productPage__variant-size--flex
							each variant, i in product.variants 
								if variant.inStock > 0
									button(class=`product__size--btn variant__size--${i+1}` , data-variant=variant._id) #{variant.size}
									
						button(type='button' class='productPage__variant-size--btn size-guide--btn') Size Guide 
						.productPage__variant-size-guide--box
							img(src="/img/other_imgs/size_guide.png", class='size_guide-img' alt="")
							
					////-- ------------------- --// 
					
					if user		
						.productPage__quantity
							label(for=`quantity`)  Quantity:
							input#add-to-cart-qty(type="number" name=`quantity` value="1" min="1")

						.productPage__product--btn-box 
						
							button#buy-it-now.productPage__product-btn.productPage-buyItNow(data-product-id=`${product.id}`,data-user-object=user , data-product-slug=`${product.slug}`) Buy now
						
							button#add-to-cart.productPage__product-btn.productPage-addtocart(data-product-id=`${product.id}`,data-user=user.id , data-product-slug=`${product.slug}`) Add to cart 
							
					else
						.productPage__product--btn-box 
						
							button#buy-it-now-guest.productPage__product-btn.productPage-buyItNow(data-product-id=`${product.id}`,data-user-object=user , data-product-slug=`${product.slug}`) Buy now
				
							a(href='/login-page' class='productPage__product-btn productPage-addtocart') Login to Add to cart 
				
				
				
			//- .productPage__reviews
			
			//- 	h2.productPage__reviews--heading.mrgbtm--med  Customer Ratings
				
			//- 	.productPage__reviews--top-box
				
			//- 		p Overall Rating: #{product.rating} (#{product.totalRatings})
					
			//- 		if user
					
			//- 			if hasPurchased
						
			//- 				if !hasReviewed
							
			//- 					button#product-review-btn Leave Review
								
			//- 				else 
			//- 					p Review Submitted
						
				
				
			//- 	.productPage__reviews--bottom-box.content-hidden
				
			//- 		form#submit-review-form.review-form(data-product-id=`${product.id}` , data-slug=`${product.slug}`)
					
			//- 			.review-form-row.review-form-row--input
			//- 				label(for="review-rating")  Rating:
			//- 				input#review-rating(type="number" , name='review-rating' , min='1' , max='10', required )
							
			//- 			.review-form-row.review-form-row--textarea
			//- 				label(for="review-comment")  Comment:
			//- 				textarea#review-comment(name="review-comment" placeholder="Write your comment..." rows="3" required)
			//- 				button#review-cancel-btn Cancel
			//- 				button(type='submit') Submit
					
				
				
			//- 	.productPage__reviews--middle-box
			//- 		each review in product.reviews 
			//- 			.productPage__review--box
			//- 				.productPage__review
			//- 					h4 #{review.user.name.toUpperCase()}
			//- 					p Rating: #{review.rating} / 10
			//- 					p Comment: #{review.comment}
								
			//- 				+ratingStar(review)
				

		
