//- extends base 

//- block content

//- 	main.med-container

//- 		.checkout__page--headings.mrgbtm--lg 

//- 			h2.homePage--sub-heading Checkout
//- 			h2.homePage--sub-heading.homePage--sub-totals  Totals

//- 		.checkout__page--grid 

//- 			.checkout__page--items
//- 				if cart
//- 					each item in cart.cart
//- 						.checkout__page--row
//- 							.checkout__page--img-box
//- 								img(src=`/img/product_imgs/${item.product.imageCover}`, alt="" , class='checkout__img' , width='800' , height='800')

//- 							.checkout__page--text-box
//- 								p.checkout__name #{item.product.name}
//- 								p.checkout__desc Description.: #{item.product.description}
//- 								p.checkout__col Color.: #{item.product.color}
//- 								p.checkout__size Size: #{item.variantDetails.size}
//- 								p.checkout__style Quantity: #{item.quantity}
//- 								p.checkout__style Current Price: $#{item.discountPrice}
						
//- 							.checkout__page--price-box

//- 								p.checkout__price $ #{item.saleTotal }
								
//- 				//-// Else block for buyitnow product
				
//- 				else
//- 					.checkout__page--row
//- 						.checkout__page--img-box
//- 							img(src=`/img/product_imgs/${product.imageCover}`, alt="" , class='checkout__img' , width='800' , height='800')

//- 						.checkout__page--text-box
//- 							p.checkout__name #{product.name}
//- 							p.checkout__desc Description.: #{product.description}
//- 							p.checkout__col Color.: #{product.color}
//- 							p.checkout__size Size: #{variant.size}
//- 							p.checkout__style Quantity: #{qty}
//- 							p.checkout__style Price: $#{product.discountPrice} 
							
//- 						.checkout__page--price-box

//- 							p.checkout__price $ #{product.discountPrice * qty}					

//- 			.checkout__page--right-box

//- 				//- // create address form	

//- 				if !guest

//- 					form#checkout__form--address.checkout__form--address(data-product=product ? product.id : '', data-qty=qty, data-variant=variant ? variant.id : "")
						
//- 						- const street = defaultAddress && defaultAddress.street ? defaultAddress.street.toUpperCase() : ''
//- 						- const city = defaultAddress && defaultAddress.city ? defaultAddress.city.toUpperCase() : ''
//- 						- const state = defaultAddress && defaultAddress.state ? defaultAddress.state.toUpperCase() : ''
//- 						- const postcode = defaultAddress && defaultAddress.postcode ? defaultAddress.postcode : ''
//- 						- const number = defaultAddress && defaultAddress.number ? defaultAddress.number : ''
//- 							p.creadit-card-address Creadit Card Payment Address Details
//- 							.checkout__form--address-flex

//- 								.checkout__form--address-row 
//- 									label(for="address-label") Address Type:
//- 									select(name="address-label" class='address-label' id='address-label' 
//- 									data-product=JSON.stringify(product) ,  data-qty=qty,  data-variant=JSON.stringify(variant)
//- 									)
//- 										option(value="Home", selected=(selectedLabel === 'Home')) Home
//- 										option(value="Work", selected=(selectedLabel === 'Work')) Work
//- 										option(value="Other", selected=(selectedLabel === 'Other')) Other


//- 								.checkout__form--address-row 
//- 									label(for="address-number") Street Number
//- 									input(
//- 										type="number"
//- 										id="address-number"
//- 										name="address-number"
//- 										autocomplete="address-number-line1"
//- 										value=number
//- 										required
//- 									)

//- 								.checkout__form--address-row 
//- 									label(for="address-street") Street
//- 									input(
//- 										type="text"
//- 										id="address-street"
//- 										name="address-street"
//- 										autocomplete="address-street-line2"
//- 										value=street
//- 										required
//- 									)

//- 								.checkout__form--address-row 
//- 									label(for="address-city") City
//- 									input(
//- 										type="text"
//- 										id="address-city"
//- 										name="address-city"
//- 										autocomplete="address-city"
//- 										value=city
//- 										required
//- 									)

//- 								.checkout__form--address-row 
//- 									label(for="address-state") State
//- 									input(
//- 										type="text"
//- 										id="address-state"
//- 										name="address-state"
//- 										autocomplete="address-state"
//- 										value=state
//- 										required
//- 									)

//- 								.checkout__form--address-row 
//- 									label(for="address-postcode") Postcode
//- 									input(
//- 										type="text"
//- 										id="address-postcode"
//- 										name="address-postcode"
//- 										autocomplete="address-postcode"
//- 										value=postcode
//- 										minlength="4"
//- 										maxlength="4"
//- 										required
//- 									)


//- 							.checkout__page--totals

//- 								.checkout__page--totals--row
//- 									p.checkout__page--totals-p SubTotal:
//- 									p.checkout__page--totals-p $#{totalNet}

//- 								.checkout__page--totals--row
//- 									p.checkout__page--totals-p Delivery:
//- 									p.checkout__page--totals-p $#{delivery}

//- 								.checkout__page--totals--row
//- 									p.checkout__page--totals-p GST: 
//- 									p.checkout__page--totals-p $ #{taxes}

//- 								.checkout__page--totals--row
//- 									p.checkout__page--totals-p Estimated Total: 
//- 									p.checkout__page--totals-p $#{totalGross}
									

//- 								button#checkout-submit--stripe(class='checkout__page-submit--btn') Pay with Card
								
//- 						#paypal-button-container(
//- 							data-product=(product && product.id) || ''
//- 							data-qty=qty || ''
//- 							data-variant=(variant && variant.id) || ''
//- 						)
//- 				else 
				
//- 					form#checkout__form--address-guest.checkout__form--address(data-product=product ? product.id : '', data-qty=qty, data-variant=variant ? variant.id : "")
					
//- 							p.creadit-card-address Customer Order Details	
												
//- 							.checkout__form--address-flex
							
//- 								.checkout__form--address-row 
//- 									label(for="address-email") Email:
//- 									input(type="email" id='address-email' name='address-email')
							
//- 								.checkout__form--address-row 
//- 									label(for="address-name") Name:
//- 									input(type="text" id='address-name' name='address-name')
	


//- 								.checkout__form--address-row 
//- 									label(for="address-number") Street Number
//- 									input(
//- 										type="number"
//- 										id="address-number"
//- 										name="address-number"
//- 										required
//- 									)

//- 								.checkout__form--address-row 
//- 									label(for="address-street") Street
//- 									input(
//- 										type="text"
//- 										id="address-street"
//- 										name="address-street"
//- 										required
//- 									)

//- 								.checkout__form--address-row 
//- 									label(for="address-city") City
//- 									input(
//- 										type="text"
//- 										id="address-city"
//- 										name="address-city"
//- 										required
//- 									)

//- 								.checkout__form--address-row 
//- 									label(for="address-state") State
//- 									input(
//- 										type="text"
//- 										id="address-state"
//- 										name="address-state"
//- 										required
//- 									)

//- 								.checkout__form--address-row 
//- 									label(for="address-postcode") Postcode
//- 									input(
//- 										type="text"
//- 										id="address-postcode"
//- 										name="address-postcode"
//- 										minlength="4"
//- 										maxlength="4"
//- 										required
//- 									)

//- 							.checkout__page--totals

//- 								.checkout__page--totals--row
//- 									p.checkout__page--totals-p SubTotal:
//- 									p.checkout__page--totals-p $#{totalNet}

//- 								.checkout__page--totals--row
//- 									p.checkout__page--totals-p Delivery:
//- 									p.checkout__page--totals-p $#{delivery}

//- 								.checkout__page--totals--row
//- 									p.checkout__page--totals-p GST: 
//- 									p.checkout__page--totals-p $ #{taxes}

//- 								.checkout__page--totals--row
//- 									p.checkout__page--totals-p Estimated Total: 
//- 									p.checkout__page--totals-p $#{totalGross}
									

//- 								button#checkout-submit--stripe-guest(class='checkout__page-submit--btn') Pay with Card
							
//- 							#paypal-button-container-guest(
//- 								data-product=(product && product.id) || ''
//- 								data-qty=qty || ''
//- 								data-variant=(variant && variant.id) || ''
//- 							)

//- 				script(src=`https://www.paypal.com/sdk/js?client-id=${paypalClientId}&currency=AUD`)
//- 				script(src="/js/paypal.js")


//- //  Checkout page rewrite


extends base

block content

	main.med-container.checkout

		.checkout__page--headings.checkout__header
			h2.homePage--sub-heading Checkout
			h2.homePage--sub-heading.homePage--sub-totals Totals

		.checkout__page--grid.checkout__layout

			// LEFT: items
			.checkout__page--items.checkout__items

				if cart
					each item in cart.cart
						.checkout__page--row.checkoutItem

							.checkout__page--img-box.checkoutItem__imgBox
								img(
									src=`/img/product_imgs/${item.product.imageCover}`
									alt=""
									class="checkout__img checkoutItem__img"
									width="800"
									height="800"
								)

							.checkout__page--text-box.checkoutItem__content
								p.checkout__name.checkoutItem__title #{item.product.name}
								p.checkout__desc.checkoutItem__desc Description: #{item.product.description}								
								.checkout__page--text-flex
									.checkout__page--text-left
										p.checkout__col.checkoutItem__meta Color: #{item.product.color}
										p.checkout__size.checkoutItem__meta Size: #{item.variantDetails.size}
									.checkout__page--text-left
										p.checkout__style.checkoutItem__meta Quantity: #{item.quantity}
										p.checkout__style.checkoutItem__meta Current Price: $#{item.discountPrice}

							.checkout__page--price-box.checkoutItem__priceBox
								.checkout__priceWrap
									p.checkout__priceLabel Total
									p.checkout__price $ #{item.saleTotal}

				else
					.checkout__page--row.checkoutItem

						.checkout__page--img-box.checkoutItem__imgBox
							img(
								src=`/img/product_imgs/${product.imageCover}`
								alt=""
								class="checkout__img checkoutItem__img"
								width="800"
								height="800"
							)

						.checkout__page--text-box.checkoutItem__content
							p.checkout__name.checkoutItem__title #{product.name}
							p.checkout__desc.checkoutItem__desc Description: #{product.description}
							.checkout__page--text-flex
								.checkout__page--text-left
									p.checkout__col.checkoutItem__meta Color: #{item.product.color}
									p.checkout__size.checkoutItem__meta Size: #{item.variantDetails.size}
								.checkout__page--text-left
									p.checkout__style.checkoutItem__meta Quantity: #{item.quantity}
									p.checkout__style.checkoutItem__meta Current Price: $#{item.discountPrice}

						.checkout__page--price-box.checkoutItem__priceBox
							.checkout__priceWrap
								p.checkout__priceLabel Total
								p.checkout__price $ #{product.discountPrice * qty}


			// RIGHT: address + totals + payments
			.checkout__page--right-box.checkout__right

				.checkoutPanel

					if !guest

						form#checkout__form--address.checkout__form--address.checkoutPanel__form(
							data-product=product ? product.id : ''
							data-qty=qty
							data-variant=variant ? variant.id : ''
						)

							- const street = defaultAddress && defaultAddress.street ? defaultAddress.street.toUpperCase() : ''
							- const city = defaultAddress && defaultAddress.city ? defaultAddress.city.toUpperCase() : ''
							- const state = defaultAddress && defaultAddress.state ? defaultAddress.state.toUpperCase() : ''
							- const postcode = defaultAddress && defaultAddress.postcode ? defaultAddress.postcode : ''
							- const number = defaultAddress && defaultAddress.number ? defaultAddress.number : ''

							.checkoutPanel__section
								p.creadit-card-address.checkoutPanel__title Credit Card Payment Address Details

								.checkout__form--address-flex.checkoutPanel__fields

									.checkout__form--address-row.checkoutField
										label(for="address-label") Address Type
										select.address-label#address-label(
											name="address-label"
											data-product=JSON.stringify(product)
											data-qty=qty
											data-variant=JSON.stringify(variant)
										)
											option(value="Home", selected=(selectedLabel === 'Home')) Home
											option(value="Work", selected=(selectedLabel === 'Work')) Work
											option(value="Other", selected=(selectedLabel === 'Other')) Other

									.checkout__form--address-row.checkoutField
										label(for="address-number") Street Number
										input#address-number(
											type="number"
											name="address-number"
											autocomplete="address-number-line1"
											value=number
											required
										)

									.checkout__form--address-row.checkoutField
										label(for="address-street") Street
										input#address-street(
											type="text"
											name="address-street"
											autocomplete="address-street-line2"
											value=street
											required
										)

									.checkout__form--address-row.checkoutField
										label(for="address-city") City
										input#address-city(
											type="text"
											name="address-city"
											autocomplete="address-city"
											value=city
											required
										)

									.checkout__form--address-row.checkoutField
										label(for="address-state") State
										input#address-state(
											type="text"
											name="address-state"
											autocomplete="address-state"
											value=state
											required
										)

									.checkout__form--address-row.checkoutField
										label(for="address-postcode") Postcode
										input#address-postcode(
											type="text"
											name="address-postcode"
											autocomplete="address-postcode"
											value=postcode
											minlength="4"
											maxlength="4"
											required
										)

							.checkoutPanel__section
								.checkout__page--totals.checkoutTotals

									.checkout__page--totals--row
										p.checkout__page--totals-p Subtotal
										p.checkout__page--totals-p $#{totalNet}

									.checkout__page--totals--row
										p.checkout__page--totals-p Delivery
										p.checkout__page--totals-p $#{delivery}

									.checkout__page--totals--row
										p.checkout__page--totals-p GST
										p.checkout__page--totals-p $#{taxes}

									.checkout__page--totals--row.checkoutTotals__total
										p.checkout__page--totals-p Estimated Total
										p.checkout__page--totals-p $#{totalGross}

							.checkoutPanel__section.checkoutPanel__payments
								button#checkout-submit--stripe.checkout__page-submit--btn(type="button") Pay with Card

								#paypal-button-container(
									data-product=(product && product.id) || ''
									data-qty=qty || ''
									data-variant=(variant && variant.id) || ''
								)

					else

						form#checkout__form--address-guest.checkout__form--address.checkoutPanel__form(
							data-product=product ? product.id : ''
							data-qty=qty
							data-variant=variant ? variant.id : ''
						)

							.checkoutPanel__section
								p.creadit-card-address.checkoutPanel__title Customer Order Details

								.checkout__form--address-flex.checkoutPanel__fields

									.checkout__form--address-row.checkoutField
										label(for="address-email") Email
										input#address-email(type="email" name="address-email" required)

									.checkout__form--address-row.checkoutField
										label(for="address-name") Name
										input#address-name(type="text" name="address-name" required)

									.checkout__form--address-row.checkoutField
										label(for="address-number") Street Number
										input#address-number(type="number" name="address-number" required)

									.checkout__form--address-row.checkoutField
										label(for="address-street") Street
										input#address-street(type="text" name="address-street" required)

									.checkout__form--address-row.checkoutField
										label(for="address-city") City
										input#address-city(type="text" name="address-city" required)

									.checkout__form--address-row.checkoutField
										label(for="address-state") State
										input#address-state(type="text" name="address-state" required)

									.checkout__form--address-row.checkoutField
										label(for="address-postcode") Postcode
										input#address-postcode(type="text" name="address-postcode" minlength="4" maxlength="4" required)

							.checkoutPanel__section
								.checkout__page--totals.checkoutTotals

									.checkout__page--totals--row
										p.checkout__page--totals-p Subtotal
										p.checkout__page--totals-p $#{totalNet}

									.checkout__page--totals--row
										p.checkout__page--totals-p Delivery
										p.checkout__page--totals-p $#{delivery}

									.checkout__page--totals--row
										p.checkout__page--totals-p GST
										p.checkout__page--totals-p $#{taxes}

									.checkout__page--totals--row.checkoutTotals__total
										p.checkout__page--totals-p Estimated Total
										p.checkout__page--totals-p $#{totalGross}

							.checkoutPanel__section.checkoutPanel__payments
								button#checkout-submit--stripe-guest.checkout__page-submit--btn(type="button") Pay with Card

								#paypal-button-container-guest(
									data-product=(product && product.id) || ''
									data-qty=qty || ''
									data-variant=(variant && variant.id) || ''
								)

		script(src=`https://www.paypal.com/sdk/js?client-id=${paypalClientId}&currency=AUD`)
		script(src="/js/paypal.js")
