extends base 

block content 


	main.sm-container
	
		section.order_page 
			
			h2.order_page--heading Order Number: #{order.orderNum}
			
			.order_page--main-grid
		
				.order_page-left
				
					.order_page--user-details-box
					
						h3.order_page-box--heading  Your details
						
						.order_page--user-details
							p.order_page--user-p Name: #{order.name.toUpperCase()}
							p.order_page--user-p Email: #{order.email}

							.order_page--user-address
								.order_page--user-address-heading
									p.order_page--user-p Shipping Address:
								.order_page--user-address-details

									p.order_page--user-p #{order.order.shippingAddress.number}
									p.order_page--user-p #{order.order.shippingAddress.street}
									p.order_page--user-p #{order.order.shippingAddress.city}
									p.order_page--user-p #{order.order.shippingAddress.state}
									p.order_page--user-p #{order.order.shippingAddress.postcode}				
					
				.order_page-right
				
					.order_page--user-details-box
					
					h3.order_page-box--heading  Order details
						
					.order_page--order-details
						- const orderDate = new Date(order.order.createdAt).toLocaleDateString('en-GB')
						- const lastUpdated = new Date(order.order.updatedAt).toLocaleDateString('en-GB')
						- const transStatus = transaction ? transaction.status : "No Paypal status"

						
						p.order_page--user-p Order Amount: #{order.order.totalAmount}
						p.order_page--user-p Order Status: #{order.order.status}
						p.order_page--user-p Payment Method: #{order.order.paymentMethod}
						p.order_page--user-p Date of Order: #{orderDate}
						p.order_page--user-p Last Updated: #{lastUpdated}
						p.order_page--user-p Transaction Status: #{transStatus}
						.order_page--order-products
							p.order_page--user-p-products Products:
							.order__page--order-headings 
								h3.order__page--order-head Image
								h3.order__page--order-head Name
								h3.order__page--order-head Qty
								h3.order__page--order-head Price
							
							.order__page--order-details 
							
								each product in products
								
									-const productImage = product.product && product.product.imageCover ? product.product.imageCover : "No Image"
									
									-const productName = product.product && product.product.name ? product.product.name : "No Product Name"
									
									-const qty = product && product.quantity ? product.quantity : "No Quantity Available"
									
									-const price = product && product.priceAtPurchase ? product.priceAtPurchase : "No Price Available"
									
									-const slug = product && product.product && product.product.slug ?  product.product.slug : "No Slug Available"
									
									a(href=`/product/${slug}`) 
										img(src=`/img/product_imgs/${productImage}`, alt="" , width='800' , height='800' , class='order-image')
									p.order_page--user-p  #{productName}
									p.order_page--user-p  #{qty}
									p.order_page--user-p  #{price}
									