extends base 




block content 


	main.homePage__main.container
	
	
		
		section.homePage-productList
		
			h2.homePage--sub-heading.mrgbtm--lg  All Products
			
			.productList_filter-sort--box 		
				
				//- Sort
				
				.productList_sort-box
					form#form-product-sort.product-sort-form(action="/product-list" method="GET") 
						.product-sort--row
							label(for="productSort") Sort:
							select#productSort(name="productSort") 
								option(value="newest" selected=selectedOption === 'newest') Newest 
								option(value="lowest" selected=selectedOption === 'lowest') Lowest Price 
								option(value="highest" selected=selectedOption === 'highest') Highest Price 
								option(value="alphabet" selected=selectedOption === 'alphabet') A-Z
						
						
			
						.product-sort--row--box
							.product-sort--row
								label(for="productSize") Select Size:
								select#productSize(name="productSize") 
									option(value="") All Sizes 
									each size in sizeList 
										option(value=size selected=selectedSize === size)=size							
							button(type='submit') Submit				
				
			
			.productList 		
			
				each product in productlist
				
					.productList__product 			
					
						.productList-box--img 
						
							a(href=`/product/${product.slug}`) 
								img(src=`/img/product_imgs/${product.imageCover}`, alt='image',width="800",height="800", class='productList__img' fetchpriority="high")
								
						.productList-box
						
							.mrgbtm--sm
								- const category = 	product.category ? product.category.name : "";
							
								p.productList-box-bold  Name: #{product.name}
								p Description: #{product.description}
								p Category: #{category}
								
							.productList__group--box
								p Rating: #{product.rating}
								p Total Ratings: #{product.totalRatings}
								
							.productList__group--box.mrgbtm--med
								p Original Price: #{product.originalPrice}
								p Current Price:   #{product.discountPrice < product.currentPrice ? product.discountPrice : product.currentPrice  }
								
							a(href=`/product/${product.slug}` class='productList__page--link') See Product
					
		
				
			